@page "/Preview"

<div class="appBgImage_ceacf">

    @if (userPlayer == null)
    {<p>User Players is loading......</p>
        @userPlayer
    }
    else
    {
        @foreach (var userTeamPlayers in userPlayer)
        {

            <div class="headerContainer_85dde headerSticky_41a22 headerWebKitSticky_3d076">
                <div class="defaultHeaderContent_00a63">
                    <div class="headerLeft_97209"></div>
                    <div class="headerCenter_aa154"><div class="headerItem_029e0">RAMES76757JK (T1)</div></div><div class="headerRight_b78f0">
                        <a class="js--team-preview-edit-button basicWhiteIconAnchor_3d48d" onclick="@(() => Edit(userTeamPlayers.matchId, userTeamPlayers.userTeamId))">
                            <i class="materialIcon_10a4f" style="height: 24px; width: 24px; font-size: 24px;">edit</i>
                        </a>
                    </div>
                </div><div>

                    <div class="mainContainer_e2328 mainContainerDesktopHeight_79be4">
                        <div class="leftContainer_7b125"></div><div class="centerContainer_82ad5">
                            <div class="teamSelectionsContainer_7ce16">
                                <div class="flagContainer_029e0">
                                    <div class="teamName_24fa0 homeTeamName_37af5">SPL</div>
                                    <div class="squadOneText_912c4"><div class="teamCount_2787a">6</div></div>
                                </div><div class="separator_f76d0">:</div>
                                <div class="flagContainer_029e0 awayTeamFlag_961c3">
                                    <div class="squadTwoText_c189d"><div class="teamCount_2787a">5</div></div>
                                    <div class="teamName_24fa0 awayTeamName_95944">TK</div>
                                </div>
                            </div>
                        </div><div class="rightContainer_a8b8b"></div>
                    </div>

                </div>
            </div>

            <div class="content_eaf85 containerWithHeaderDesktop_d52fe containerWithHeaderMobile_7e379" style="background-image: url('https://assets.dream11.com/public/imgs/cricket-artwork.svg')">
                <div class="playerArea_eac11">
                    <div>
                        <div class="spaceAround_64779 tall_a7bdc">

                            <div class="teamPreviewRowWrapper_0c54c">
                                <div class="rowTitle_b91f3">Wicket-Keeper</div>
                                <div class="spaceAround_64779 rowContent_8aa5f">

                                    @foreach (var wicketkeeper in userTeamPlayers.players.Where(p => p.player.playerRoleName == Common.PlayerType.WK.ToString()).ToList())
                                    {
                                        <div class="spaceAround_64779 rowContent_8aa5f">
                                            <div class="js--field-player fieldPlayerMain_32975">
                                                <div>
                                                    <div class="playerImageProfile_0cc1f">
                                                        @if (@wicketkeeper.isCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/Captain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(245, 166, 35);">

                                                        }
                                                        @if (@wicketkeeper.isViceCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/ViceCaptain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(74, 144, 226);">
                                                        }
                                                        <div class="imageProfileContainer_6e52e">
                                                            <div class="player-image-profile__image" style="background-image: url(@wicketkeeper.player.image);"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="playerTitleContainer_cbc2d"><div class="fieldPlayerTitle_75d21 awayTeamPlayerTitle_95944">@wicketkeeper.player.firstName @wicketkeeper.player.lastName</div></div>
                                                <div class="playerPoints_d4e06">@wicketkeeper.player.credits  Cr</div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div class="teamPreviewRowWrapper_0c54c">
                                <div class="rowTitle_b91f3">Batsmen</div>
                                <div class="spaceAround_64779 rowContent_8aa5f">

                                    @foreach (var bastman in userTeamPlayers.players.Where(p => p.player.playerRoleName == Common.PlayerType.Bat.ToString()).ToList())
                                    {
                                        <div class="spaceAround_64779 rowContent_8aa5f">
                                            <div class="js--field-player fieldPlayerMain_32975">
                                                <div>
                                                    <div class="playerImageProfile_0cc1f">
                                                        @if (@bastman.isCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/Captain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(245, 166, 35);">

                                                        }
                                                        @if (@bastman.isViceCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/ViceCaptain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(74, 144, 226);">
                                                        }
                                                        <div class="imageProfileContainer_6e52e">
                                                            <div class="player-image-profile__image" style="background-image: url(@bastman.player.image);"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="playerTitleContainer_cbc2d">
                                                    <div class="fieldPlayerTitle_75d21 awayTeamPlayerTitle_95944">@bastman.player.firstName @bastman.player.lastName</div>
                                                </div><div class="playerPoints_d4e06">@bastman.player.credits  Cr</div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div class="teamPreviewRowWrapper_0c54c">
                                <div class="rowTitle_b91f3">All-Rounders</div>
                                <div class="spaceAround_64779 rowContent_8aa5f">

                                    @foreach (var allrounder in userTeamPlayers.players.Where(p => p.player.playerRoleName == Common.PlayerType.Allrounder.ToString()).ToList())
                                    {
                                        <div class="spaceAround_64779 rowContent_8aa5f">
                                            <div class="js--field-player fieldPlayerMain_32975">
                                                <div>
                                                    <div class="playerImageProfile_0cc1f">
                                                        @if (@allrounder.isCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/Captain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(245, 166, 35);">

                                                        }
                                                        @if (@allrounder.isViceCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/ViceCaptain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(74, 144, 226);">
                                                        }
                                                        <div class="imageProfileContainer_6e52e">
                                                            <div class="player-image-profile__image" style="background-image: url(@allrounder.player.image);"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="playerTitleContainer_cbc2d">
                                                    <div class="fieldPlayerTitle_75d21 awayTeamPlayerTitle_95944">@allrounder.player.firstName @allrounder.player.lastName</div>
                                                </div><div class="playerPoints_d4e06">@allrounder.player.credits  Cr</div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div class="teamPreviewRowWrapper_0c54c">
                                <div class="rowTitle_b91f3">Bowlers</div>
                                <div class="spaceAround_64779 rowContent_8aa5f">

                                    @foreach (var bowler in userTeamPlayers.players.Where(p => p.player.playerRoleName == Common.PlayerType.Bowler.ToString()).ToList())
                                    {
                                        <div class="spaceAround_64779 rowContent_8aa5f">
                                            <div class="js--field-player fieldPlayerMain_32975">
                                                <div>
                                                    <div class="playerImageProfile_0cc1f">
                                                        @if (@bowler.isCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/Captain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(245, 166, 35);">

                                                        }
                                                        @if (@bowler.isViceCaptain == true)
                                                        {
                                                            <img src="https://assets.dream11.com/public/imgs/playerRoleArtwork/ViceCaptain_Default.svg" class="playerImageRoleContainer_c7252" style="background-color: rgb(74, 144, 226);">
                                                        }
                                                        <div class="imageProfileContainer_6e52e">
                                                            <div class="player-image-profile__image" style="background-image: url(@bowler.player.image);"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="playerTitleContainer_cbc2d">
                                                    <div class="fieldPlayerTitle_75d21 awayTeamPlayerTitle_95944">@bowler.player.firstName @bowler.player.lastName</div>
                                                </div><div class="playerPoints_d4e06">@bowler.player.credits  Cr</div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>

@inject IUriHelper  uriHelper
@functions{
    [Parameter]
    UserTeams[] userPlayer { get; set; }
    [Parameter]
    private EventCallback<UserTeams[]> userPlayerChanged { get; set; }

    private void Edit(int matchid, int userteamId)
    {
        uriHelper.NavigateTo("/Players/" + matchid + "/" + userteamId);
    }
}
