@model FabricApplication.Models.User
@using FabricApplication.Models.Boot

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>*@
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Student" })

        @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>*@

        <div class="modal-body form-horizontal">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>

            </dl>
            @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
        </div>
    }
</div>
